{% extends base_template %}
{% load static %}
{% load i18n %}

{% block title %}
  {% if action == 'new' %} Nueva
  {% else %} Editar
  {% endif %} paleta
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/yourtemplate.css' %}">
{% endblock %}

{% block content %}
  <div class="yp-container">
    <header>
      <h1>SELECTOR DE COLORES</h1>
    </header>
    {% with 'yourpalette-'|add:action as path %}

    <form action="{% url path %}" method="post">
      <ul>
        <div class="row expanded">
          {% with fields.0 as group1 %}
          {% for name,field in group1.items %}
            <li class="yp-swatch">
              <div class="yp-swatch-sample">
                <div class="yp-sample dark" style="background: {{ field.0 }}"></div>
                <div class="yp-sample normal" style="background: {{ field.1 }}"></div>
                <div class="yp-sample light" style="background: {{ field.2 }}"></div>
              </div>
              <div class="yp-swatch-info">
                <p>{% translate name|upper %}</p>
                <p class="color-display" data-color-name="{{ name }}">
                  {{ field.1 }}
                </p>
                <input type="color" name="{{ name }}" id="id_{{ name }}" class="color-input">
              </div>
            </li>
          {% endfor %}
          {% endwith %}
        </div>
      </ul>
    </form>
    {% endwith %}
  </div>
{% endblock %}
