{% extends base_template %}

{% block title %}
  {% if action == 'new' %} Nueva
  {% else %} Editar
  {% endif %} paleta
{% endblock %}

<div class="yp-container">
  <header>
    <h1>SELECTOR DE COLORES</h1>
  </header>
  {% with 'yourpalette-'|add:action as path %}
  <form action="{% url path %}" method="post">
    <ul>
      <li class="yp-swatch">
        <div class="yp-swatch-sample">
          <div class="yp-sample dark"></div>
          <div class="yp-sample normal"></div>
          <div class="yp-sample light"></div>
        </div>
        <div class="yp-swatch-info">
          <p>BLANCO</p>
          <p class="color-display" data-color-name="white">{{ form.white.value }}</p>
          {{ form.white }}
        </div>
      </li>
      <li class="yp-swatch">
        <div class="yp-swatch-sample">
          <div class="yp-sample dark"></div>
          <div class="yp-sample normal"></div>
          <div class="yp-sample light"></div>
        </div>
        <div class="yp-swatch-info">
          <p>BLANCO</p>
          <p class="color-display" data-color-name="white"></p>
          <input type="color">
        </div>
      </li>
      <li class="yp-swatch">
        <div class="yp-swatch-sample">
          <div class="yp-sample dark"></div>
          <div class="yp-sample normal"></div>
          <div class="yp-sample light"></div>
        </div>
        <div class="yp-swatch-info">
          <p>BLANCO</p>
          <p class="color-display" data-color-name="white"></p>
          <input type="color">
        </div>
      </li>
      <li class="yp-swatch">
        <div class="yp-swatch-sample">
          <div class="yp-sample dark"></div>
          <div class="yp-sample normal"></div>
          <div class="yp-sample light"></div>
        </div>
        <div class="yp-swatch-info">
          <p>BLANCO</p>
          <p class="color-display" data-color-name="white"></p>
          <input type="color">
        </div>
      </li>
      <li class="yp-swatch">
        <div class="yp-swatch-sample">
          <div class="yp-sample dark"></div>
          <div class="yp-sample normal"></div>
          <div class="yp-sample light"></div>
        </div>
        <div class="yp-swatch-info">
          <p>BLANCO</p>
          <p class="color-display" data-color-name="white"></p>
          <input type="color">
        </div>
      </li>
      <li class="yp-swatch">
        <div class="yp-swatch-sample">
          <div class="yp-sample dark"></div>
          <div class="yp-sample normal"></div>
          <div class="yp-sample light"></div>
        </div>
        <div class="yp-swatch-info">
          <p>BLANCO</p>
          <p class="color-display" data-color-name="white"></p>
          <input type="color">
        </div>
      </li>
      <li class="yp-swatch">
        <div class="yp-swatch-sample">
          <div class="yp-sample dark"></div>
          <div class="yp-sample normal"></div>
          <div class="yp-sample light"></div>
        </div>
        <div class="yp-swatch-info">
          <p>BLANCO</p>
          <p class="color-display" data-color-name="white"></p>
          <input type="color">
        </div>
      </li>
      <li class="yp-swatch">
        <div class="yp-swatch-sample">
          <div class="yp-sample dark"></div>
          <div class="yp-sample normal"></div>
          <div class="yp-sample light"></div>
        </div>
        <div class="yp-swatch-info">
          <p>BLANCO</p>
          <p class="color-display" data-color-name="white"></p>
          <input type="color">
        </div>
      </li>
      <li class="yp-swatch">
        <div class="yp-swatch-sample">
          <div class="yp-sample dark"></div>
          <div class="yp-sample normal"></div>
          <div class="yp-sample light"></div>
        </div>
        <div class="yp-swatch-info">
          <p>BLANCO</p>
          <p class="color-display" data-color-name="white"></p>
          <input type="color">
        </div>
      </li>
      <li class="yp-swatch">
        <div class="yp-swatch-sample">
          <div class="yp-sample dark"></div>
          <div class="yp-sample normal"></div>
          <div class="yp-sample light"></div>
        </div>
        <div class="yp-swatch-info">
          <p>BLANCO</p>
          <p class="color-display" data-color-name="white"></p>
          <input type="color">
        </div>
      </li>
      <li class="yp-swatch">
        <div class="yp-swatch-sample">
          <div class="yp-sample dark"></div>
          <div class="yp-sample normal"></div>
          <div class="yp-sample light"></div>
        </div>
        <div class="yp-swatch-info">
          <p>BLANCO</p>
          <p class="color-display" data-color-name="white"></p>
          <input type="color">
        </div>
      </li>
      <li class="yp-swatch">
        <div class="yp-swatch-sample">
          <div class="yp-sample dark"></div>
          <div class="yp-sample normal"></div>
          <div class="yp-sample light"></div>
        </div>
        <div class="yp-swatch-info">
          <p>BLANCO</p>
          <p class="color-display" data-color-name="white"></p>
          <input type="color">
        </div>
      </li>
      <li class="yp-swatch">
        <div class="yp-swatch-sample">
          <div class="yp-sample dark"></div>
          <div class="yp-sample normal"></div>
          <div class="yp-sample light"></div>
        </div>
        <div class="yp-swatch-info">
          <p>BLANCO</p>
          <p class="color-display" data-color-name="white"></p>
          <input type="color">
        </div>
      </li>
      <li class="yp-swatch">
        <div class="yp-swatch-sample">
          <div class="yp-sample dark"></div>
          <div class="yp-sample normal"></div>
          <div class="yp-sample light"></div>
        </div>
        <div class="yp-swatch-info">
          <p>BLANCO</p>
          <p class="color-display" data-color-name="white"></p>
          <input type="color">
        </div>
      </li>
      <li class="yp-swatch">
        <div class="yp-swatch-sample">
          <div class="yp-sample dark"></div>
          <div class="yp-sample normal"></div>
          <div class="yp-sample light"></div>
        </div>
        <div class="yp-swatch-info">
          <p>BLANCO</p>
          <p class="color-display" data-color-name="white"></p>
          <input type="color">
        </div>
      </li>
    </ul>
  </form>
  {% endwith %}
</div>
