{% extends base_template %}
{% load static %}

{% block title %}
  Paletas de color
{% endblock %}

{% block content %}
  {% if perms.yourpalette.can_add_colorpalette %}
    <a class="button success" href="{% url 'yourpalette-new' %}">
      Nueva paleta
    </a>
  {% endif %}
  <table>
    <thead>
      <tr>
        <th>Paleta</th>
        <th>Muestra</th>
      </tr>
    </thead>
    <tbody>
      {% if object_list %}
        {% for paleta in object_list %}
        <tr>
          <td>
            <a href="{% url 'yourpalette-detail' paleta.id %}">
              Paleta {{ paleta.id }}
            </a>
          </td>
        </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td><p>No hay resultados</p></td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endblock %}
