{% extends base_template %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/foundation.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/yourtemplate.css' %}">
{% endblock %}

{% block title %}
  Paletas de color
{% endblock %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>Paleta</th>
        <th>Muestra</th>
      </tr>
    </thead>
    <tbody>
      {% if object_list %}
        {% for paleta in object_list %}
        <tr>
          <td>
            <a href="{% url 'yourpalette-detail' paleta.id %}">
              Paleta {{ paleta.id }}
            </a>
          </td>
        </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td><p>No hay resultados</p></td>
        </tr>
      {% endif %}
    </tbody>
  </table>
{% endblock %}
